<template>
  <div class="container">
    <router-link tag="button" class="btn btn-primary" to="/">
      Back
    </router-link>

    <div class="row justify-content-center">
      <div class="container py-5">
        <form @submit="formSubmit">
          <div class="mb-3">
            <label for="InputTitle" class="form-label">Title </label>
            <input
              v-model="formData.title"
              @input="validate('title')"
              type="text"
              class="form-control"
              id="InputTitle"
              :placeholder="
                hasError('title') ? errors['title'] : 'Add your title'
              "
              :class="{ 'is-invalid': hasError('title') }"
            />
            <div class="invalid-feedback text-capitalize">
              {{ errors["title"] }}
            </div>
          </div>
          <div class="mb-3">
            <label for="InputDesc" class="form-label">Description</label>
            <textarea
              @input="validate('description')"
              v-model="formData.description"
              type="text"
              class="form-control"
              id="InputDesc"
              :placeholder="
                hasError('description')
                  ? errors['description']
                  : 'Add your description'
              "
              :class="{ 'is-invalid': hasError('description') }"
            />
            <div class="invalid-feedback text-capitalize">
              {{ errors["description"] }}
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-6">
              <label class="form-label" for="startDate">Start Date</label>
              <input
                type="datetime-local"
                class="form-control"
                id="startdate"
                v-model="formData.startDate"
                :class="{ 'is-invalid': hasError('startDate') }"
                required
              />
              <div class="invalid-feedback text-capitalize">
                {{ errors["startDate"] }}
              </div>
            </div>
            <div class="col-6">
              <label class="form-label" for="endDate">End Date</label>
              <input
                type="datetime-local"
                class="form-control"
                id="enddate"
                v-model="formData.endDate"
                :class="{ 'is-invalid': hasError('endDate') }"
                required
              />
              <div class="invalid-feedback text-capitalize">
                {{ errors["endDate"] }}
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../router";

export default {
  name: "AddEvent",
  data() {
    return {
      formData: {
        title: "",
        description: "",
        startDate: "",
        endDate: "",
      },
      errors: {},
    };
  },
  methods: {
    formSubmit(e) {
      e.preventDefault();
      if (this.checkError()) return;
      const params = {
        start_date: this.formData.startDate,
        end_date: this.formData.endDate,
        title: this.formData.title,
        description: this.formData.description,
      };
      axios
        .post("/api/events", params)
        .then((resp) => {
          router.push({ name: "Index" });
        })
        .catch((err) => {
          return this.addErrors(err.response.data.errors);
        });
    },
    addErrors(err = {}) {
      const error = {};
      const skipKeys = ["startDate", "endDate"];
      for (const [key, value] of Object.entries(err)) {
        switch (key) {
          case "start_date":
            error["startDate"] = value.join(", ");
            break;
          case "end_date":
            error["endDate"] = value.join(", ");
            break;
          default:
            error[key] = value.join(", ");
        }
      }
      this.errors = error;
    },
    checkError() {
      const errors = {};
      const skipKeys = ["startDate", "endDate"];
      for (const [key, value] of Object.entries(this.formData)) {
        if (value == "" && !(key in skipKeys))
          errors[key] = `${key} is required`;
      }

      this.errors = { ...errors };
      this.validateDate(this.formData.startDate, "startDate");
      this.validateDate(this.formData.endDate, "endDate");
      if (Object.keys(errors).length > 0) return true;
      return false;
    },
    hasError(key) {
      if (key in this.errors) return true;
    },
    validateDate(val, type = "startDate") {
      if (new Date().getTime() > new Date(val).getTime()) {
        const typeLabel = type.replace("_", " ");
        this.errors[type] = typeLabel + " cannot be in the past";
      } else {
        delete this.errors[type];
      }
    },
    validate(type) {
      this.checkError();
    },
  },
  watch: {
    "formData.startDate": function (newVal, oldVal) {
      this.validateDate(newVal, "startDate");
    },
    "formData.endDate": function (newVal, oldVal) {
      this.validateDate(newVal, "endDate");
    },
  },
};
</script>
