<template>
  <div class="container">
    <div class="d-flex mb-2">
      <router-link
        tag="button"
        class="btn btn-primary me-2"
        to="/add-event"
      >
        Add
      </router-link>
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ filters[selectedFilter] }}
        </button>
        <ul class="dropdown-menu">
          <li v-for="(filter, index) in filters" :key="index">
            <a
              class="dropdown-item"
              href="#"
              @click="filterEvents(index)"
            >{{
              filter
            }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-4 mb-2"
        v-for="event in events"
        :key="event.id"
      >
        <div class="card">
          <div class="card-header">
            {{ event.title }}
            <div class="float-end d-flex">
              ({{ formatDate(event.start_date) }})
              <div class="form-check form-switch ms-1">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckDefault"
                  v-model="event.status"
                  @change="updateData(event.id)"
                >
              </div>
              <button
                class="close alert alert-danger p-2 pt-0 pb-0"
                aria-label="Close"
                @click="deleteData(event.id)"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>

          <div class="card-body">
            <p>{{ event.description }}</p>
          </div>
          <div class="card-footer text-muted">
            End Date: {{ event.end_date }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      events: [],
      filters: [
        "All Events",
        "Upcoming Events",
        "Finished Events",
        "Upcoming Events with 7 days",
        "Finished Events past 7 days",
        "Ongoing Events",
      ],
      selectedFilter: 0,
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    formatDate(date) {
      date = new Date(date);
      let hours = date.getHours();
      let minutes = date.getMinutes();
      const ampm = hours >= 12 ? "pm" : "am";
      hours = hours % 12;
      hours = hours ? hours : 12; // the hour '0' should be '12'
      minutes = minutes < 10 ? "0" + minutes : minutes;
      const strTime = hours + ":" + minutes + " " + ampm;
      return (
        date.getMonth() +
        1 +
        "/" +
        date.getDate() +
        "/" +
        date.getFullYear() +
        "  " +
        strTime
      );
    },
    getData(filterType = 0) {
      axios
        .get("/api/events", { params: { filterType: filterType } })
        .then((resp) => {
          this.events = resp.data.data;
        })
        .catch((err) => {});
    },
    filterEvents(index) {
      this.getData(index);
      this.selectedFilter = index;
    },
    deleteData(id) {
      axios
        .delete("/api/events/" + id)
        .then((resp) => {
          const eventIndex = this.events.findIndex((event) => event.id == id);
          this.events.splice(eventIndex, 1);
        })
        .catch((err) => {});
    },
    updateData(id) {
      const eventIndex = this.events.findIndex((event) => event.id == id);
      const stat = this.events[eventIndex].status;
      axios
        .patch("/api/events/" + id, {
          status: stat,
        })
        .then((resp) => {})
        .catch((err) => {});
    },
  },
};
</script>
